---
import { POKEMONS_TYPES_COLORS } from "../../const/pokemonsTypesColors";
import Layout from "../../layouts/Layout.astro";
import { getPokedex } from "../../services/pokedexService";
const token = Astro.locals.token
const pokedex = await getPokedex(token || "")
const { id } = Astro.params

const pokemon = pokedex.find((p) => p.id == id)
console.log(pokemon)
---
<Layout title="Minidex | Pokemon">
    <section class="bg-white/10 mt-4 max-w-xl mx-auto flex justify-between gap-4 p-4 px-8 rounded-sm">
        <div>
            <picture>
                <img src={pokemon?.image} transition:name={`pokemon ${id} image`} alt="" 
                class="h-40">
            </picture>
        </div>
        <article class="text-center flex flex-col gap-4">
            <h3 class="text-3xl text-white font-bold" transition:name={`pokemon ${id} name`}>{pokemon?.name.toLocaleUpperCase()}</h3>
            <div>
                <h5 class="text-xl text-white font-bold">STATS</h5>
                <div class="flex justify-evenly gap-8 text-center text-white">
                    <fieldset>
                        <h6>HP</h6>
                        <span>{pokemon?.hp}</span>
                    </fieldset>
                    <fieldset>
                        <h6>Attack</h6>
                        <span>{pokemon?.attack}</span>
                    </fieldset>
                    <fieldset>
                        <h6>Defense</h6>
                        <span>{pokemon?.defense}</span>
                    </fieldset>
                    <fieldset>
                        <h6>Spped</h6>
                        <span>{pokemon?.speed}</span>
                    </fieldset>
                </div>
            </div>
            <div>
                <h5 class="text-xl text-white font-bold">Tipos</h5>
                <div class="flex gap-2 justify-center">
                    {pokemon?.types.map((t) => {
                            const name = typeof t === "string" ? t : t.name
                            const color = POKEMONS_TYPES_COLORS[name]
                            return (
                                <span style={{ backgroundColor: color }} class="px-2 py-1 rounded-sm text-white">
                                {name.toUpperCase()}
                                </span>
                            )
                        }
                    )}
                </div>
            </div>
        </article>
    </section>
</Layout>